.sidebar a.active {
    background-color: #f5f8fa;
    border-left-color: #4040ce;
    color: #4040ce !important;
}

.sidebar a.active span {
    color: #4040ce !important;
}

body,
html {
    height: 100vh;
    overflow: hidden;
}

.sidebar,
.main-screen {
    height: calc(100vh - 64px);
}

.chart-container {
    height: 400px !important;
}

.recharts-responsive-container.h-\[10px\] {
    height: 15px !important;
    margin-top: 15px;
}

@media screen and (max-width: 767px) {
    .sidebar {
        position: fixed;
        width: 100%;
        top: 65px;
    }
}