.sidebar a.active {
    background-color: #f5f8fa;
    border-left-color: #4040ce;
}

body,
html {
    height: 100vh;
    overflow: hidden;
}

.sidebar,
.main-screen {
    height: calc(100vh - 64px);
}

.chart-container {
    height: 400px !important;
}